<h3>List of Restaurants</h3>
<table class="table table-condensed table-bordered">
  <tr>
    <th width="50px">Sr. No.</th>
    <th>Restaurants</th>
    <th>Address</th>
    <th>Phone</th>
    <th width="80px"></th>
  </tr>
  <tr>
    <td>1</td>
    <td>Kung Food</td>
    <td>Bandra East</td>
    <td>2563 0987</td>
    <td><%= link_to "Menu", menus_index_path %></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Aaram</td>
    <td>Bandra East</td>
    <td>5432 9876</td>
    <td><%= link_to "Menu", menus_index_path %></td>
  </tr>
  <tr>
    <td>3</td>
    <td>Amey</td>
    <td>Bandra East</td>
    <td></td>
    <td><%= link_to "Menu", menus_index_path %></td>
  </tr>
  <tr>
    <td>4</td>
    <td>California Kitchen</td>
    <td>BKC</td>
    <td>2345 8765</td>
    <td><%= link_to "Menu", menus_index_path %></td>
  </tr>
  <tr>
    <td>5</td>
    <td>Chinnar</td>
    <td>Bandra East</td>
    <td>3232 8767</td>
    <td><%= link_to "Menu", menus_index_path %></td>
  </tr>
</table>
<div align="right">
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</div>